<ion-content padding no-bounce>
  <div id="wrapper">
    <h1>QuickPath</h1>

    <p class="displayTest">
      {{starting}}
    </p>
    <div id="destination">
      <p *ngIf="fromBarcode.length>0"> From: <span>{{fromBarcode}}</span></p>
      <p *ngIf="toBarcode.length>0">To: <span>{{toBarcode}}</span></p>
    </div>
    <div class="spinnerCheck">
      <ion-spinner *ngIf="!scanned"></ion-spinner>
      <ion-icon name="checkmark-circle-outline" *ngIf="scanned"></ion-icon>
    </div>
    <button ion-button (click)="fakeBarcode()">Mock Barcode</button>
  </div>
 </ion-content>
